/* title */
#title{
  background-color: #c6e377;
  color:#36622b;
}
.container-fluid{
  padding:3% 15% 5%;
}
h1{
  font-family: 'Open Sans',sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}
h5{
  font-family: 'Roboto',sans-serif;
  line-height: 1.5;
  font-weight: 300;
}
/* navbar */
.navbar{
  padding-bottom: 4.5rem;
}
.navbar-brand{
  font-family:'Ubuntu',sans-serif;
  font-weight: bold;
  font-size: 2.3rem;
  color:#36622b;
}
.nav-item{
  padding:0 18px;
}
.nav-link{
  font-size: 1.2rem;
}
.navbar li a{
  color:#36622b;
}
/* highlights */
#highlights
{
  background-color: #36622b;
  padding: 5% 15%;
  color: #c6e377;
  text-align:justify;
}
h2{
  padding-bottom: 3rem;
line-height: 1.5;
}
h3{
  padding-bottom: 2rem;
  font-family: 'Open Sans',sans-serif;
  font-weight: bold;

}
p{
font-size: 1.25rem;
line-height: 1.5;
}
.lightgreen-img{
  width:500px;
  height:300px;
  border:4px solid #c6e377;
}
/* Gulmarg */
#Gulmarg{
   background-color: #c6e377;
   padding : 5% 10%;
   text-align: right;


}
.darkgreen-img{
  width:500px;
  height:300px;
  border:4px solid #36622b;
}
/* Leh */
#Leh{
  background-color: #36622b;
  padding: 5% 15%;
  color: #c6e377;
  text-align:justify;
}
/* pricing */
#pricing{
     background-color: #c6e377;
color: #36622b;
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}
.pricing-card{
  background-color: #36622b;
   color:#c6e377;
}
#Contact{
  background-color:  #36622b;
  padding: 3% 18%;
  color:#c6e377;
  text-align: center;
}
