body{
  font-family: 'Roboto',sans-serif;
}
 /* title */

 #title{
   background-color: #260C1A;
   color:#fff;
 }
 .container-fluid{
   padding:3% 15% 7%;
 }
 h1{
   font-family: 'Open Sans', sans-serif;
   font-weight:500;
   font-size: 3rem;
 }
 h6{
   font-family: 'Open Sans',sans-serif;
   margin-top: 20px;
 }


 .titleimage{
   margin-left: 200px;
 }
 /* navigationbar */
 .navbar{
   padding-bottom: 4.5rem;
 }
 .navbar-brand{
   font-family:'Ubuntu',sans-serif;
   font-weight: bold;
   font-size: 2.3rem;
 }
 .nav-item{
   padding:0 18px;
 }
 .nav-link{
   font-size: 1.2rem;
 }
 /* features */
 #features{
   padding:7% 15%;
   background-color: #fff;
   text-align: center;
 }
 .icon{
   color:#260C1A;
   margin-bottom: 1rem;
 }
 .icon:hover{
   color:#e84545;
 }
h3{
color: #260C1A;
font-family: 'Roboto',sans-serif;
font-weight: bold;
}
.feature-text{
  color: #260C1A;
}

/* slideshow */
#photo-slideshow{
  background-color: #260C1A;

}
.carousel-item{
  padding: 1% 10%;
}
.slide-image{
  border: 4px solid #ddd;
  border-radius: 4px;

}

/* cards */
#state{
  background-color: #fff;
  padding:3% 3%;
  text-align: center;
}
.img-thumbnail{
  width:auto;
  height: 250px;
  margin: 2%;
}
h5{
  font-weight: bold;
}

/* testimonials */
#testimonials{
  background-color: #260C1A;
  text-align: center;
  padding: 7% 15%;
  color: #FFF;
}
h2{
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  padding-bottom: 7%
}
